.breadcrumbs {
  margin-top: 5px;

  @media screen and (max-width: 1024px) {
    margin-top: 10px;
  }

  &__list {
    display: flex;
  }

  &__link {
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 44, 62, 0.4);
  }

  &__item_ampersand::after {
    margin: 0 5px;
    font-size: 14px;
    font-weight: 500;
    content: ">";
    color: rgba(0, 44, 62, 0.4);
    vertical-align: text-top;
  }
}
