.language {
  display: flex;
  align-items: center;
  margin: 0 30px;
  padding: 10px 8px;
  background: rgba(255, 255, 255, 0.01);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;

  @media screen and (max-width: 800px) {
    height: 42px;
  }

  &__content {
    padding: 0 10px;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff9f9;
  }

  @media screen and (max-width: 660px) {
    display: none;
  }
}
