.button {
  &-info {
    justify-content: center;
    background: #19cae4;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 24px;
    padding: 14px 24px 14px 17px;
    color: #212121;
    line-height: 100%;

    &--left-border--none {
      border-radius: 0px 26px 26px 0px;
    }

    @media screen and (max-width: 1024px) {
      padding: 9px 15px 9px 15px;
    }

    &__content {
      margin-left: 14px;
      font-weight: 600;
      color: #212121;

      &--ml {
        &--0 {
          margin-left: 0;
        }
      }
    }

    &--padding {
      &--17-18 {
        padding: 17px 18px;
      }
    }

    &--form {
      width: 100%;
      padding: 5px 5px 5px 97px;
      border-radius: 34px;
      justify-content: space-between;
    }
  }

  &-services {
    background: #ffffff;
    border-radius: 100px;
    border: 2px solid rgba(0, 44, 62, 0.1);
    margin-bottom: 20px;
    padding: 18px 20px;
    width: 32%;

    @media screen and (max-width: 768px) {
      margin-bottom: 0;
      padding: 18px 20px 18px 30px;
    }

    &--bcg {
      &--F5F9FA {
        background: #f5f9fa;
      }
    }

    &:nth-of-type(10) {
      margin-bottom: 0;
    }

    &:nth-of-type(11) {
      margin: 0;
    }

    &__content {
      display: flex;
      align-items: center;

      @media screen and (max-width: 768px) {
        width: 100%;
        justify-content: space-between;
      }
    }

    &__info {
      text-align: start;
      margin-left: 29px;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 1024px) {
        margin-left: 20px;
      }

      @media screen and (max-width: 768px) {
        margin-left: 0;
      }
    }

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  &-round {
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    width: 24px;
    height: 24px;
    background: #012e41;

    &__content {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
    }

    &--42 {
      min-width: 42px;
      min-height: 42px;
      background: #002c3e;
    }

    &--36 {
      min-width: 36px;
      min-height: 36px;
      border-radius: 28px;
      background: #002c3e;
      border: 1px solid #002c3e;
    }

    &--ml {
      &--14 {
        margin-left: 14px;
      }
    }

    &--bcg {
      &--FFFFFF {
        background: #ffffff;
        border: 1px solid rgba(0, 44, 62, 0.1);
      }
    }
  }

  &-filter {
    display: flex;
    padding: 6px 11px;
    margin-right: 19px;
    background: #ffffff;
    border: 2px solid rgba(0, 44, 62, 0.05);
    border-radius: 20px;
    align-items: center;
    justify-content: center;

    &:last-child {
      margin-right: 0;
    }

    &--round {
      padding: 0;
      width: 36px;
      height: 36px;
      border-radius: 24px;
    }
  }

  &-detailed {
    display: flex;
    align-items: center;
    background: #f2f6fa;
    border-radius: 15px;
    justify-content: space-evenly;
    margin-right: 10px;
    padding: 6px 7px;
    min-width: 52px;

    &:last-child {
      margin-right: 0;
    }

    &__info {
      background: #ffffff;
      min-width: 90px;
      padding: 8px 6px;
      align-items: center;

      &--mw {
        &--43 {
          min-width: 43px;
        }

        &--38 {
          min-width: 38px;
        }

        &--46 {
          min-width: 46px;
        }
      }
    }
  }

  &-tab {
    display: flex;
    align-items: center;
    background: #002c3e;
    border-radius: 30px;
    justify-content: center;
    color: #ffffff;
    font-weight: 500;

    &--round {
      position: absolute;
      min-width: 50px;
      max-height: 50px;
      top: 10%;
      right: 10%;
      padding: 13px 9px;
    }

    &--rectangle {
      position: absolute;
      min-width: 120px;
      max-height: 33px;
      left: 5%;
      top: 5%;
      padding: 10px 13px;
    }
  }

  &-go {
    display: flex;
    align-items: center;
    background: #002c3e;
    border-radius: 30px;
    justify-content: center;
    color: #ffffff;
    justify-content: space-evenly;
    padding: 6px 14px 6px 20px;
    margin-right: 40px;

    &__text {
      font-weight: 600;
      font-size: 12px;
      text-transform: uppercase;
      margin-right: 11px;
    }

    @media screen and (max-width: 768px) {
      margin-right: 0;
    }
  }
}
