.footer {
  padding: 29px 0;
  background: radial-gradient(
    100% 100% at 0% 100%,
    #005d83 0%,
    rgba(0, 44, 62, 0) 100%
  );

  &__block {
    display: flex;
    margin-bottom: 34px;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    &:last-child {
      margin-left: 39px;
      margin-bottom: 0;
    }

    &:nth-child(2) {
      margin-bottom: 10px;
    }

    &--modify {
      &--1024 {
        @media screen and (max-width: 1024px) {
          flex-direction: column-reverse;
          align-items: baseline;
        }

        @media screen and (max-width: 768px) {
          flex-direction: column-reverse;
          align-items: center;
        }
      }
    }

    @media screen and (max-width: 1024px) {
      margin-bottom: 30px;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 36px;
    }
  }

  &__contact {
    @media screen and (max-width: 768px) {
      margin-top: 33px;
    }
  }
}
