.header {
  background: radial-gradient(
    50% 100% at 50% 0%,
    #005d83 0%,
    rgba(0, 44, 62, 0) 100%
  );
  padding: 25px 0 59px 0;

  @media screen and (max-width: 1024px) {
    padding: 25px 0 44px 0;
  }

  @media screen and (max-width: 768px) {
    padding: 20px 0 29px 0;
  }

  &__line {
    display: flex;
    margin-bottom: 44px;
    justify-content: space-between;

    @media screen and (max-width: 1024px) {
      margin-bottom: 39px;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 28px;
    }

    &:last-child {
      margin: 0 20px;
    }
  }

  &__block {
    display: flex;
    align-items: center;
  }

  &__nav {
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
