.icon {
  display: flex;

  &_subtract {
    margin-right: 19px;
  }

  &_card {
    max-width: 100%;
  }

  &_check {
    margin-left: 8px;
  }

  &__form {
    position: absolute;
    &--1 {
      top: 120px;
      right: 260px;
    }
    &--2 {
      top: 120px;
      right: 140px;
    }
    &--3 {
      top: 236px;
      right: 436px;
    }
    &--4 {
      top: 230px;
      right: 160px;
    }
    &--5 {
      top: 260px;
      right: 230px;
    }
    &--6 {
      top: 341px;
      right: 330px;
    }
    &--7 {
      top: 350px;
      right: 362px;
    }
    &--8 {
      top: 341px;
      right: 160px;
    }
  }
}
