.language {
  display: flex;
  align-items: center;
  margin: 0 30px;
  padding: 4px 6px;
  background: rgba(255, 255, 255, 0.01);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;

  &__content {
    margin: 0 8px 0 10px;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff9f9;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}
