.logo {
  display: flex;
  margin-right: 60px;

  @media screen and (max-width: 1050px) {
    margin-right: 30px;
  }

  @media screen and (max-width: 1024px) {
    margin-right: 0;
  }

  @media screen and (max-width: 768px) {
    width: 120px;
  }
}
