.pagination {
  @media screen and (max-width: 1201px) {
    margin-top: 10px;
  }
  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    font-size: 14px;
    background: rgba(255, 255, 255, 0.01);
    border: 2px solid rgba(0, 44, 62, 0.1);
    border-radius: 28px;
    margin-right: 15px;

    &--active {
      border: 2px solid #002c3e;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      border: 2px solid #002c3e;
    }

    &--bg {
      &--002C3E {
        background: #002c3e;
      }
    }
  }

  &__link {
    width: 36px;
    height: 36px;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: #212121;
  }
}
