.social {
  display: flex;
  justify-content: center;

  &__item {
    padding-right: 25px;
  }

  &__item:last-child {
    padding-right: 0;
  }

  &__list {
    display: flex;
  }

  @media screen and (max-width: 1024px) {
    padding-bottom: 22px;
  }
}
