.svg {
  &_menu {
    width: 24px;
    height: 24px;
    fill: #ffffff;
  }

  &_logo {
    width: 183px;
    height: 50px;
  }

  &_phone {
    width: 21px;
    height: 21px;
    fill: #ffffff;
  }

  &_language {
    width: 22px;
    height: 24px;
    fill: #ffffff;
  }

  &_arrow-down {
    width: 24px;
    height: 24px;
    fill: #ffffff;
    fill-opacity: 0.5;
  }

  &_basket {
    width: 24px;
    height: 24px;
    fill: #212121;
  }

  &_search {
    width: 24px;
    height: 24px;
    fill: #000000;
  }

  &_present_to_all {
    width: 25px;
    height: 25px;
    fill: #ffffff;
    fill-opacity: 0.87;
  }

  &_format_shapes {
    width: 24px;
    height: 24px;
    fill: #ffffff;
    fill-opacity: 0.87;
  }

  &_build {
    width: 24px;
    height: 24px;
    fill: #ffffff;
    fill-opacity: 0.87;
  }

  &_turned_in_not {
    width: 24px;
    height: 24px;
    fill: #ffffff;
    fill-opacity: 0.87;
  }

  &_vpn_key {
    width: 24px;
    height: 24px;
    fill: #ffffff;
    fill-opacity: 0.87;
  }

  &_sort {
    width: 24px;
    height: 24px;
    fill: #ffffff;
    fill-opacity: 0.87;
  }

  &_line_weight {
    width: 24px;
    height: 24px;
    fill: #ffffff;
    fill-opacity: 0.87;
  }

  &_border_style {
    width: 24px;
    height: 24px;
    fill: #ffffff;
    fill-opacity: 0.87;
  }

  &_stay_primary_portrait {
    width: 24px;
    height: 24px;
    fill: #ffffff;
    fill-opacity: 0.87;
  }

  &_shuffle {
    width: 24px;
    height: 24px;
    fill: #ffffff;
    fill-opacity: 0.87;
  }

  &_tv {
    width: 24px;
    height: 24px;
    fill: #ffffff;
    fill-opacity: 0.87;
  }

  &_device {
    width: 32px;
    height: 32px;
    fill: #ffffff;
    fill-opacity: 0.87;
  }

  &_check {
    fill: #005d83;
    width: 17px;
    height: 17px;
  }

  &_arrow {
    width: 24px;
    height: 24px;
    fill-opacity: 0.87;

    &--gray {
      fill: rgba(255, 255, 255, 0.87);
    }

    &--white {
      fill: #ffffff;
    }

    &--dark {
      fill: rgba(0, 0, 0, 0.87);
    }
  }

  &_action {
    width: 14px;
    height: 14px;
    fill-opacity: 0.55;
    fill: rgba(0, 0, 0, 0.55);
  }

  &_mail {
    width: 24px;
    height: 24px;
    fill: #ffffff;
  }

  &_social {
    width: 28px;
    height: 28px;
    fill-opacity: 0.8;
    fill: #ffffff;
  }
}
