.text {
  font-weight: 400;
  font-size: 13px;
  color: rgba(33, 33, 33, 0.8);
  line-height: 100%;

  @media (min-width: 1025px) and (max-width: 1600px) {
    font-size: 14px;
  }

  &--mt10 {
    margin-top: 10px;
  }

  &--size {
    &--13 {
      font-weight: 400;
      font-size: 13px;
    }
    &--14 {
      font-weight: 500;
      font-size: 14px;
    }

    &--16 {
      font-size: 16px;
      font-weight: 600;
      line-height: 140%;
    }
  }

  &--lh {
    &--140 {
      line-height: 140%;
    }
  }

  &--color {
    &--212121 {
      color: #212121;
    }

    &--FFFFFF {
      color: #ffffff;
    }

    &--002C3E {
      color: #002c3e;
    }
  }

  &--margin {
    &--10 {
      margin: 10px 0;
    }
  }

  &--sale {
    font-size: 14px;
    font-weight: 400;
    text-decoration-line: line-through;
    color: rgba(33, 33, 33, 0.5);
  }

  &--price {
    font-weight: 700;
    font-size: 16px;
  }

  &-nav {
    font-weight: 600;
    font-size: 14px;
    color: rgba(0, 44, 62, 0.4);
    line-height: 140%;

    &--color {
      &--white {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }

  &-footnote {
    font-size: 10px;
    line-height: 14px;

    &--color {
      &--gray {
        color: rgba(255, 255, 255, 0.6);
      }
    }

    &--uppercase {
      font-size: 14px;
      color: #ffffff;
      text-transform: uppercase;
    }
  }

  &-address {
    font-weight: 400;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);

    @media screen and (max-width: 768px) {
      font-size: 10px;
    }
  }

  &-info {
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.085em;
    color: #212121;

    &--mr {
      &--5 {
        margin-right: 5px;
      }

      &--3 {
        margin-right: 3px;
      }
    }
  }
}
