.title {
  display: flex;
  font-weight: 800;
  font-size: 36px;

  @media screen and (max-width: 1024px) {
    font-size: 24px;
  }

  @media screen and (max-width: 768px) {
    font-size: 21px;
  }

  &--fw {
    &--700 {
      font-weight: 700;
    }

    &--400 {
      font-weight: 400;
    }
  }

  &--small {
    font-weight: 600;
    font-size: 16px;
  }

  &--color {
    &--white {
      color: #ffffff;
    }
  }

  &--mt {
    &--5 {
      margin-top: 5px;
    }

    &--15 {
      margin-top: 15px;
    }
  }

  @media screen and (max-width: 768px) {
    &--fd {
      &--column {
        flex-direction: column;
      }
    }
  }
}
