.title {
  display: flex;
  &__heading {
    font-weight: 800;
    font-size: 36px;

    &::after {
      content: " ";
      padding: 5px;

      @media screen and (max-width: 768px) {
        content: none;
      }
    }

    @media screen and (max-width: 1050px) {
      font-size: 24px;
    }

    @media screen and (max-width: 410px) {
      font-size: 21px;
    }

    &--fw {
      &--700 {
        font-weight: 700;
      }

      &--400 {
        font-weight: 400;
      }
    }
    &_small {
      font-weight: 600;
      font-size: 16px;
    }
  }

  &--color {
    &--white {
      color: #ffffff;
    }
  }
  @media screen and (max-width: 768px) {
    &--fd {
      &--column {
        flex-direction: column;
      }
    }
  }
}
