html {
  // @include tablets {
  //   font-size: 14px;
  // }

  // @include phones {
  //   font-size: 12px;
  // }

  // @media (max-width: 1024px) {
  //   font-size: 13px;
  // }

  // @media (max-width: 480px) {
  //   font-size: 12px;
  // }
}

body {
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background: #002c3e;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 83%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1450px) {
    width: 90%;
  }

  @media screen and (max-width: 700px) {
    width: 92%;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  // min-height: 100%;
  height: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  margin: 0;
  padding: 0;
}

footer {
  position: relative;
  width: 100%;
}
